<a href="https://colab.research.google.com/github/Mehar-Shafaat-Ullah/Python-Codes-/blob/main/1_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Python Output

In [ ]:
#Python is a case sensitive language
print("Hello World")

Hello World

In [ ]:
print("Mehar Sahafaat Ullah")

Mehar Sahafaat Ullah

In [ ]:
print(Mehar Shafaat Ullah)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-3-8e7537cebd94>, line 1)

In [ ]:
print(7.2)
print(True)

7.2
True

In [ ]:
print('hello wolrld' ,1,2,3,4.5,True)

hello wolrld 1 2 3 4.5 True

In [ ]:
print('hello world',1,4.5,True,sep = '/')

hello world/1/4.5/True

In [ ]:
print('hello',end='-')
print('world')

hello-world

2.Data Types

In [ ]:
#integer
print(8)
print(1e309)
#float
print(1.7e309)
#string
print('hello world')
#boolean
print(True)
#complex Number
print(5+6j)

8
inf
inf
hello world
True
(5+6j)

In [ ]:
#list
print([1,2,3,4,5])
#Tuple
print((1,2,3,4,5))
#Set
print({1,2,3,4,5})
#Dictionary
print({1,2,3,4,5})

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
#type Function
type(6+6j)

complex

3.Variables

In [ ]:
 print("shafaat")

shafaat

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

In [ ]:
a,b,c=2,3,4
print(a,b,c)

2 3 4

In [ ]:
#these above variables called stylish declaration techniques

4.Keywords & Identifiers

In [ ]:
#keywords

#Identiiers
# ->identifier cant start with digit
# 1name = 10 (wrong)
# name1 = 10 (right)
# ->we cant use special char (use jusr #underscore _ not-)
#name-1 = 10

5.User Input

In [ ]:
#static software and dynamic software
#in static we can take just information etc lilke claender
#in dynamic soft we give input and then it give us desired output

In [ ]:
 fnaum=input("Enter Email")
 print(fnaum)

Enter Email34

'34'

In [ ]:
fnum = input("Enter first name")
sname = input("Enter second name")
print(type(fnum),type(sname))
result=int(fnum)+int(sname)
print(result)
type(result)
print(type(fnum))

Enter first name4
Enter second name4
<class 'str'> <class 'str'>
8
<class 'str'>

6.Type Conversion

In [ ]:
#implicite and explisite conversion

In [ ]:
print(5+5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [ ]:
print(4+"6")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#Explicite
#str->int
int("4")
type(int("4"))

int

In [ ]:
#But
int(4+5j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
#int->str
str(5)

'5'

In [ ]:
#float
could not cnvert str to float
float("exple")

SyntaxError: invalid syntax (<ipython-input-26-00b5524f507d>, line 2)

7.Literls

In [ ]:
a = 0b1010 #binary literal
b = 100  #decimal
c = 0o310  #Octal
d = 0x12c  #Hexadecimal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3
float_4 = 'a'

#Complex Literal
x = 3+4j

print(a,b,c,d,sep='-')
print(float_1,float_2,float_3,float_4,sep='-')
print(x,x.imag,x.real,sep='-')

#String
string = 'this is python'
strings = "this is pyhton"
char = 'c'
multiline_str = """this is my ocde for multiline code purpose"""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

10-100-200-300
10.5-150.0-0.0015-a
(3+4j)-4.0-3.0
this is python
this is pyhton
c
this is my ocde for multiline code purpose
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
#Boolean
a = True+4
b = False+10
print(a,b)

5 10

In [ ]:
#None
k = None
a = 5
b = 6
print(a, b)

5 6

In [ ]:
c = input(int(input("enter")))
print(c)

enter4
45
5

In [ ]:
#QUESTIONS & Solutions

In [ ]:
#function to convert celcius to farenheit
def celcius_to_farenheit(celcius):
  farenheit = (celcius*9/5)+32
  return farenheit

#input: temperature in celcius
celcius = float(input("Enter temperature in celcius: "))

#Conversion
farenheit =celcius_to_farenheit(celcius)

#output
print(f"{celcius} C is equal to {farenheit} F")

Enter temperature in celcius: 54
54.0 C is equal to 129.2 F

In [ ]:
#2
num_1= input("Enter first number")
num_2=input("Enter second number")
num_1=num_2
num_2=num_1
print(num_1,num_2)

Enter first number4
Enter second number3
3 3

In [ ]:
#3
#inputs from user
print("Enter the point of first coordinats as x_1,and y_1 ")
x_1=int(input())
y_1=int(input())
print("Enter the points of second coordinats as x_2, and y_2")
x_2=int(input())
y_2=int(input())

#formla of Euclidean distance
Euclidean_distance = ((x_2 - x_1)**2 + (y_2 - y_1)**2)**0.5

#ouput
print(Euclidean_distance)

Enter the point of first coordinats as x_1,and y_1
4
3
Enter the points of second coordinats as x_2, and y_2
2
1
2.8284271247461903

In [ ]:
#5
#inputs from user
principle_value = input("Enter value of Principle: ")
interest_rate= input("Enter interest rate: ")
time_period =input("ENter the time period: ")

#calculation of interest
simple_interest = (int(principle_value)*int(interest_rate)*int(time_period))/100

#output
print(simple_interest)

Enter value of Principle: 12000
Enter interest rate: 12%
ENter the time period: 4

ValueError: invalid literal for int() with base 10: '12%'

In [ ]:
# Input from user
principal_value = float(input("Enter value of Principal: "))
interest_rate = float(input("Enter interest rate (in %): "))
time_period = float(input("Enter the time period (in years): "))

# Calculation of simple interest
simple_interest = (principal_value * interest_rate * time_period) / 100

# Output
print(f"On {principal_value} with {interest_rate}% interest rate for {time_period} years, the simple interest is {simple_interest}.")

Enter value of Principal: 120000
Enter interest rate (in %): 12
Enter the time period (in years): 5
On 120000.0 with 12.0% interest rate for 5.0 years, the simple interest is 72000.0.

In [ ]:
#6

totall_legs = int(input("Enter totall legs: "))
totall_heads = int(input("Enter totall heads: "))
d=(totall_legs-2*totall_heads)/2
c=totall_heads-d
print(c,d)

Enter totall legs: 12
Enter totall heads: 4
2.0 2.0

In [ ]:
#7
n = int(input("Enter n number"))
sum = n*(n+1)*(2*n+1)/6
print(sum)

Enter n number4
30.0

In [ ]:
#7
n = int(input("Enter a number: "))
sum_of_squares = 0
for i in range(1,n+1):
  sum_of_squares +=i**2
print(sum_of_squares)

Enter a number: 3
14

In [ ]:
#8
a1 = int(input("Enter the first term"))
a2 = int(input("Enter the first term"))
Nth_number = int(input("Enter your nth number"))
Common_difference = a2-a1
n_nomer = a1 + (Nth_number-1)*Common_difference
print(n_nomer)

Enter the first term2
Enter the first term2
Enter your nth number4
2

In [ ]:
#9
first_numerator =int(input("Enter numerator of first fraction: "))
first_denomerator = int(input("enter numerator of first fraction: "))
print(f"your first fraction is: {first_numerator}/{first_denomerator} ")
second_numerator = int(input("Enter numerator of second fraction: "))
second_denomerator = int(input("Enter denomerator of second fraction: " ))
print(f"your fraction is: {second_numerator}/{second_denomerator}")
fraction_1 = first_numerator/first_denomerator
fraction_2 = second_numerator/second_denomerator
sum = fraction_1+fraction_2
print(f"The sum of fractions is {sum:.3f}")

Enter numerator of first fraction: 3
enter numerator of first fraction: 2
your first fraction is: 3/2
Enter numerator of second fraction: 2
Enter denomerator of second fraction: 3
your fraction is: 2/3
The sum of fractions is 2.167

In [ ]:
try:
    # Input values from the user
    numerator = float(input("Enter the numerator: "))
    denominator = float(input("Enter the denominator: "))

    # Perform the division
    result = numerator / denominator

    # Print the result
    print(f"The result of {numerator} divided by {denominator} is {result:.2f}")

except ValueError:
    # Handle invalid input errors
    print("Invalid input! Please enter numeric values.")

except ZeroDivisionError:
    # Handle division by zero errors
    print("Error: Cannot divide by zero.")

except Exception as e:
    # Handle any other unexpected errors
    print(f"An unexpected error occurred: {e}")

Enter the numerator: /3
Invalid input! Please enter numeric values.

In [ ]:
#10
print("As given dimension of the milk tank\n height = 20cm\n length = 20cm\n breadth = 20cm")
H,L,B = 20,20,20
print("As given dimensions of glass\n height = 3cm\n radius = 1cm\n")
h,r = 3,1
print("Now we should find VOLUME of  rectangular milk tank first")
Volume_of_Tank = H*L*B
print(f"volume is: {Volume_of_Tank}")
print("NOw we should find VOLUME of cylenderical glass")
Volume_of_glass = h*12.5*r**2
print(f"volume is: {Volume_of_glass}")
Number_of_glasses = Volume_of_Tank / Volume_of_glass
print(f"totall number of glasses will be:\n {Number_of_glasses:.2f}")

As given dimension of the milk tank
 height = 20cm
 length = 20cm
 breadth = 20cm
As given dimensions of glass
 height = 3cm
 radius = 1cm

Now we should find VOLUME of  rectangular milk tank first
volume is: 8000
NOw we should find VOLUME of cylenderical glass
volume is: 37.5
totall number of glasses will be:
 213.33